# 不上传自己收集到的学习资料，主要是github库
*/info

# 为使上传速度加快，不上传数据集，有需要请Email：l814141063@outlook.comm
*/data

# 为使上传速度加快，不上传训练好的模型
*/model

# 为加快上传，不上传训练好后产生的关于tensorboard数据
*/summarys

# 其他
!.gitignore
.vscode
.idea
